@model PlanDesarrolloProfesional.Models.Models.CumplimientoRequisitoModel
@using System.Security.Claims;
@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Crear Requisitos del Plan Desarrollo";
    var fechaActual = DateTime.Now.ToString("yyyy-MM-dd");
    // List<Contingencia.Models.RolesModel> RolesList = ViewBag.Roles;
    List<PlanDesarrolloProfesional.Models.Models.UsuarioModel> Colaboradores = ViewBag.Colaborador;
    List<PlanDesarrolloProfesional.Models.Models.RutaModel> RutaList = ViewBag.Rutas;
    List<PlanDesarrolloProfesional.Models.Models.RangoModel> RangoList = ViewBag.Rangos;
    List<PlanDesarrolloProfesional.Models.Models.RequisitoViewModel> RequisitoList = ViewBag.Requisito;
    List<PlanDesarrolloProfesional.Models.Models.RequisitoModel> RequisitosFiltrados = ViewBag.RequisitosFiltrados;

    // Obtener el ClaimsPrincipal actual
    var claimsPrincipal = Context.User as ClaimsPrincipal;

    // Obtener el valor de un claim específico
    var nameClaim = claimsPrincipal?.FindFirst(ClaimTypes.Name)?.Value;
    var roleClaim = User?.FindFirst("RolID")?.Value;
    var nameDbClaim = User?.FindFirst("NameDB")?.Value;

}

<div class="card o-hidden border-0 shadow-lg my-4">
    <div class="card-body col-12">
        <div class="col">
            <div class="p-3">
            <div class="col-sm-9 mb-3 mb-sm-0">
            <h4 class="mb-4 text-center">Agregar Requisito</h4>
            </div>
            </div>


            <form id ="miFormulario" action="@Url.Action("Agregar", "CumplimientoRequisito")" method="post" enctype="multipart/form-data" class="form">

                <input asp-for="PlanDesarrolloID" type="hidden" />
                <input asp-for="ColaboradorID" type="hidden" />

                <div class="form-group row  mt-2">
                    <div class="col-sm-2">
                        <label for="Colaborador" class="float-left font-weight-bold h5">Colaborador ID</label>

                    </div>
                    <div class="col-sm-4">
                        @Html.TextBox("NombreColaborador", (string)ViewBag.NombreColaborador, new { @class = "form-control", @disabled = "disabled" })
                    </div>
                </div>

                <div class="form-group row  mt-2">
                    <div class="col-sm-2">
                        <label for="NombreRango" class="float-left font-weight-bold h5">Rango</label>

                    </div>
                    <div class="col-sm-4">
                        @Html.TextBox("NombreRango", (string)ViewBag.NombreRango, new { @class = "form-control", @disabled = "disabled" })
                    </div>
                </div>
     

                    <div class="form-group row mt-2">
                        <div class="col-sm-2">
                            <label for="Requisitos" class="float-left font-weight-bold h5">Requisitos</label>
                        </div>
                   
                    <div class="col-sm-4">
                        @Html.DropDownList("RequisitoSeleccionado",
                                 new SelectList(ViewBag.RequisitosFiltrados, "RequisitoID", "NombreRequisito"),
                                 "Selecciona un Requisito",
                                 new { @id = "RequisitoSeleccionado", @class = "form-control col-12", onchange= "validarFormulario()", required = "required" }
                                 )
                        <span id="errorRequisito" class="text-danger d-none">Por favor, selecciona un requisito.</span>
                    </div>
                    </div>
         

                 <div class="form-group row  mt-2">
                    <div class="col-sm-2">
                    <label for="FechaObtencion" class="float-left font-weight-bold h5">Fecha de Obtención</label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="FechaObtencion" type="date" class="col-12 form-control" value="fechaActual" />
                        <span asp-validation-for="FechaObtencion" class="col-12 text-danger"></span>
                    </div>
                </div>

                <div class="form-group row  mt-2">
                    <div class="col-sm-2">
                    <label for="URLEvidencia" class="float-left font-weight-bold h5">URL Evidencia</label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="URLEvidencia" type="text" class="col-12 form-control" />
                        <span asp-validation-for="URLEvidencia" class="col-12 text-danger"></span>
                    </div>
                </div>


@*                 <div class="form-group row mt-2">
                    <div class="col-sm-2">
                    <label for="FechaArpobacion" class="float-left font-weight-bold h5">Fecha de Aprobación</label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="FechaArpobacion" type="date" class="col-12 form-control" value="fechaActual" />
                    </div>
                </div> *@

                <div class="form-group row mt-2">
                    <div class="col-sm-6">
                        <button type="submit" class="btn btn-primary btn-block" onclick="validarFormulario()">Agregar </i></button>
                    </div>
                      @if (roleClaim == "Administrador" || roleClaim == "Supervisor" || string.IsNullOrEmpty(roleClaim?.ToString()))
                    {
                        <div class="col-sm-6">
                            <a asp-controller="PlanDesarrolloProfesional" asp-action="Index" class="btn btn-secondary btn-block">Regresar</a>
                        </div>
                    }else
                    {
                        <div class="col-sm-6">
                            <a asp-controller="PlanDesarrolloProfesional" asp-action="ListarPorUsuario" class="btn btn-secondary btn-block">Regresar</a>
                        </div>
                    }
                </div>
            </form>
        </div>
    </div>
</div>




<script >
    src="~/lib/jquery/dist/jquery.js" >
 src="~/lib/jquery-validation/dist/jquery.validate.js">
 src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js">

</script>
<script>
    function validarFormulario() {
        var requisito = document.getElementById("RequisitoSeleccionado").value;
        var errorRequisito = document.getElementById("errorRequisito");

        if (requisito === "") {
            errorRequisito.classList.remove("d-none"); // Mostrar el mensaje de error
        } else {
            errorRequisito.classList.add("d-none"); // Ocultar el mensaje de error
            // Aquí puedes añadir el código para enviar el formulario si la validación es exitosa

            // document.getElementById("miFormulario").submit(); // Descomenta esta línea si quieres enviar el formulario
        }
    }
</script>

