@model PlanDesarrolloProfesional.Models.Models.RutaModel
@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Crear Ruta";
    List<PlanDesarrolloProfesional.Models.Models.AreaModel> AreasList = ViewBag.Areas;
    //List<Contingencia.Models.RutaesModel> RutaesList = ViewBag.Rutaes;

}

<div class="card o-hidden border-0 shadow-lg my-4">
    <div class="card-body col-12">
        <!-- Nested Row within Card Body -->
        <div class="col">
            <div class="p-3">

                <div class="form-group row">
                    <div class="col-sm-9 mb-3 mb-sm-0">
                        <h4 class="mb-4">Agregar Ruta del sistema</h4>
                    </div>
                </div>
            </div>

            <form action="@Url.Action("Agregar","Ruta")" method="post" enctype="multipart/form-data" class="form">


                <div class="row mt-2">
                    <div class="col-sm-2"><label class="float-left font-weight-bold h5">Area</label></div>
                    <div class="col-sm-4">
                        @Html.DropDownListFor(model=>model.AreaID, new SelectList(AreasList,"AreaID","Nombre"), "Seleccione el area:", new {@class="float-right form-control"})
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm-2"><label class="float-left font-weight-bold h5">Nombre del Ruta</label></div>
                    <div class="col-sm-4">
                        <input asp-for="NombreRuta" type="text" class="col-12 form-control" />
                        <span asp-validation-for="NombreRuta" class="col-12 text-danger"></span>
                    </div>
                </div>
     
                <div class="row mt-2">
                    <div class="col-sm-2"><label class="float-left font-weight-bold h5">Descripción del Ruta</label></div>
                    <div class="col-sm-4">
                        <input asp-for="Descripcion" type="text" class="col-12 form-control" />
                        <span asp-validation-for="Descripcion" class="col-12 text-danger"></span>
                    </div>
                </div>
                



                <br />
                <br />
                <div class="form-group row">
                    <div class="col-sm-12 mb-3 mb-sm-0">
                        <div class="row center-align">
                            <div class="col-sm-6">
                                <!-- Div para el primer botón -->
                                <button class="btn btn-primary btn-block" type="submit">Agregar &nbsp;<i class="fas fa-fw fa-plus"></i></button>
                            </div>
                            <div class="col-sm-6">
                                <!-- Div para el segundo botón -->
                                <a class="btn btn-secondary btn-block" asp-contRutaler="Ruta" asp-action="Index">Regresar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <hr>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {

        });
    </script>
}