@page
@{
    Layout = "_LayoutLogin";
}

<div class="main-wrapper">
    <div class="page-wrapper full-page">
        <div class="page-content d-flex align-items-center justify-content-center">

            <div class="row w-100 mx-0 auth-page">
                <div class="col-md-8 col-xl-6 mx-auto">
                    <div class="card">
                        <div class="row">
                            <div class="col-md-4 pe-md-0">
                                <div class="auth-side-wrapper">
                                </div>
                            </div>
                            <div class="col-md-8 ps-md-0">
                                <div class="auth-form-wrapper px-4 py-5">
                                    <a href="#" class="noble-ui-logo d-block mb-2">Plan Desarrollo <span>Profesional</span></a>
                                    <h5 class="text-muted fw-normal mb-4">Bienvenido! Inicie Sesión con su cuenta.</h5>
                                    <form class="forms-sample">

                                        <div>
                                            <a href="/Home/Index" type="button" class="btn btn-outline-primary btn-icon-text mb-2 mb-md-0">
                                                <i class="btn-icon-prepend" data-feather="user"></i>
                                                Inicie Sesion con Microsoft
                                            </a>
                                        </div>
                                        <a href="/Home/Index" class="d-block mt-3 text-muted">No tiene cuenta? Contacte con ITSM</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>